@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #6268ff;
  --foreground: #f0f1f4;

  --border: #c5cad0;
  --primary: #5a61ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
